{{- define "main" -}}

    <div class="jumbotron">
      <!-- <img src="/images/profile.jpg" alt="profile photo" width=300px> -->
      <img src="/images/profile-square.jpg" alt="profile photo" class="mx-auto d-block" width=200px style='border-radius:50%'>
      <!-- <img src="/images/profile-square.jpg" alt="profile photo" class="rounded mx-auto d-block" width=250px> -->
      <h1 class="display-4">About</h1>
      <!-- style='border-radius:50%' -->
      <p class="lead">
      {{ .Content }}
      </p>
    </div>

    <h2>Recent posts</h2>
        {{ partial "recent-post-list" . }}

{{- end -}}
