{{- define "main" -}}

    <h1>{{ .Site.Title }}</h1>
    <img src="/images/profile.jpg" alt="profile photo" width=300px >
    <!-- style='border-radius:50%' -->
    <h2>About</h2>
    
    <p>
        <a href="https://www.linkedin.com/in/leslie-emery/ ">LinkedIn</a> &middot;
        <a href="https://github.com/leslem">GitHub</a> &middot;
        <a href="https://scholar.google.com/citations?hl=en&user=gohAH8kAAAAJ">Google Scholar</a> &middot;
        <a href="https://orcid.org/0000-0002-9070-9886">ORCID</a> &middot;
        <a href="https://www.ncbi.nlm.nih.gov/pubmed?term=Emery%2C%20Leslie%5BAuthor%5D">PubMed</a>
    </p>
    <p>Scientist. Geneticist. Coder.</p>
    <p>Analyzer and visualizer of data with Python and R.</p>
    <p>Automate everything. Question everything. Get things done.</p>
    <h2>Posts</h2>
        {{ partial "post-list" . }}

{{- end -}}
